name: Build Mod

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Build with Gradle
        run: gradle build

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: OilMachineryMod
          path: build/libs/*.jar
